<% if user_signed_in? %>
  <% if current_user.liked_by?(record.id) %> <%#= いいねの有無を判別 %>
    <td><%= link_to 'いいねを外す', destroy_like_path(record), method: :delete, remote: true %> <%= record.likes.count %></td>
  <% else %>
    <td><%= link_to 'いいね', create_like_path(record), method: :post, remote: true %> <%= record.likes.count %></td>
  <% end %>
<% end %>
  <%# <% if user_signed_in? %>
      <%# <%= link_to housework_record_like_path(@housework, @record), method: :DELETE, remote: true do %>
      <%# <i class="fa-regular fa-heart"></i> %>
    <%# <%= link_to housework_like_index_path(@housework, @record), method: :POST, remote: true do %>
      <%# <i class="fa-solid fa-heart"></i> %>
    <%# <% end %>
  <%# <% end %>
<%# <% end %>
