<div class="records-header">
  <div class="left-header">
    <div class="header-title">
      <div class="housework-images"><%# ここに家電の画像付けたい %>
      <%= image_tag @housework.image.variant(resize: '110x110'), class: 'housework-image' if @housework.image.attached? %>
      </div>
      <div class="header-houseworks_name">
        <%= @housework.housework_name %>
      </div>
    </div>

  </div>

  <div class="center-header">
  <%#家電情報を表示%>
    <div class="center-header__center">
      型式:<%= @housework.housework_type %>
      , 購入日:<%= @housework.buy_date %>
    </div>
    <div class="center-header__right">
      消耗品名:<%= @housework.parts_name %>
      , 消耗品の型式:<%= @housework.parts_type %><br>
      交換頻度:<%= @housework.exchange %>
    </div>
  </div>

  <div class="right-header">
    <div class="header-button">
      <%= link_to "掃除記録を削除", housework_path(@housework), method: :delete %>
    </div>
  </div>
</div>

<div class="records">
  <%# <% @records.each do |record| %>
    <%= render partial: 'record', collection: @records %>
    <%# <%= render partial: 'record', locals: {record: @record, housework: @housework} %>
    <%# <%= render 'record', record: record %>
  <%# <% end %>
</div>




<%= form_with model: [@housework, @record], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-record', placeholder: 'type a content' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>