<div class="records-header">
  <div class="left-header">
    <div class="header-title">
      <%= @housework.housework_name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">掃除記録を削除する</a>
    </div>
  </div>
</div>

<div class="records">
  <%= render partial: 'record', collection: @records %>
</div>

<%= form_with model: [@housework, @record], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-record', placeholder: 'type a content' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>